

.animacaoAparecer{
    animation:aparecer 0.2s linear;
}
@keyframes aparecer {
    from{opacity: 0;}
    to{opacity: 1;}
}

.animacaoDeslocar{
    animation:deslocar 0.3s linear;
}
.animacaoDeslocarInverso{
    animation:deslocar 0.3s linear;
    animation-direction: reverse;
}
@keyframes deslocar {
    from{
        transform: translateX(259px);
    }
    to{
        transform: translateX(0px);
    }
}
.iconeMenu:hover{
    color: #696969;
    cursor: pointer;
}
.barraLateral button:hover{
    background-color: lightgreen;
    cursor: pointer;
}
.contato:hover, .visibilidade:hover{
    background-color:#f1f1f1 ;
    cursor: pointer;
}