body{
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}
.status{
    background: #DCDCDC;
}
.message{
    background: #FFFFFF;
}
.private_message{
    background: #FFDEDE;
}
.telaDeEntrada{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.telaDeEntrada img{
    width: 130px;
    height: 92px;
    margin-top: 72px;
}

.inputEntrar{
    margin-top: 94px;
    width: 261px;
    height: 54px;
    background-color: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-size: 18px;
    line-height: 25px;
    text-align: center
}

.botaoEntrar{
    margin-top: 15px;
    width: 109px;
    height: 45px;
    background-color: #E7E7E7;
    border-radius: 9px;
    border: none;
    color: #696969;
    font-size: 18px;
    line-height: 25px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 22px 0px 22px;
    z-index: 1;
}
header img{
    width: 75px;
    height: 53px;
}
.iconeMenu{
    font-size: 45px;
    transition: all 0.2s linear;
}

main{
    width: 100%;
    height: 100%;
    z-index: 0;
    padding-top: 26px;
    overflow-y: scroll;
    padding: 80px 0px 80px 0px;
}
.quadroBranco{
    overflow-y: auto;
    background-color: #F3F3F3; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.mensagem{
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    border-radius: 2px;
    padding-left: 8px;
    flex-wrap: wrap;
}
.mensagem p{
    font-size: 14px;
    line-height: 16px;
}
.mensagem strong{
    font-weight: 700;
}
.mensagem small{
    color: #AAAAAA;
    margin-right: 4px
}


aside{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
}
.fundoPreto{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}
.barraLateral{
    width: 259px;
    height:100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.caixaContatos,.caixaVisibilidade{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
}
.caixaContatos h1, .caixaVisibilidade h1{
    margin: 26px 0px 26px 0px;
    font-size: 16px;
    line-height: 19px;
    font-weight:700;
}
.contatos, .visibilidades{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}
.contato, .visibilidade{
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    position: relative;
}
.contato ion-icon, .visibilidade ion-icon{
    font-size: 25px;
    margin:0px 7px 0px 17px;
}
.contato p,.visibilidade p{
    font-size: 16px;
    line-height: 19px;
}
.barraLateral button{
    width: 100%;
    height: 25px;
    margin-top: 20px;
    background-color: #E7E7E7;
    border-radius: 9px;
    border: none;
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    transition: all 0.2s linear;
}
.iconeSelecionar{
    color: #28BB25;
    font-size: 9px;
    display: none;
    position: absolute;
    right: 10px;
}
.selecionado{
    background-color: #E7E7E7;
    border-radius: 5px;
}
.selecionado .iconeSelecionar{
    display: inline;
}
footer{
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
}
footer ion-icon{
    font-size: 26px;
    margin-right: 27px;
}
footer textarea{
    border: none;
    margin-left: 17px;
    width: 100%;
    height: 28px;
    min-height: 28px;
    max-height: 28px;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.statusMensagem{
    position: absolute;
    bottom: 0;
    left: 17px;
    font-size: 14px;
    line-height: 25px;
    color: #b6b6b6;
}

.escondido{
    display: none;
}